{% macro comma(loop, sep=", ") %}
{%- if not loop.last %}{{ sep }}{% endif -%}
{% endmacro %}

{% macro matrix(loop_id, partial, sm_obj, post="") %}
    {%- set mat = "m" ~ loop_id ~ partial ~ post %}
    {# int usually 2 bytes: don't worry about stack buffer overflow #}
    {{ mat }}.reserve(std::array<int, {{ sm_obj.ncols }}>({
            {%- for i in sm_obj.nnz %}{{ i }}{{- comma(loop) }}{% endfor -%}
            }));
    {% for el in sm_obj.entries %}
    {{ mat }}.insert({{ el.i }}, {{ el.j }}) = T({{ el.n }}.){% if el.d != 1 %}/T({{ el.d }}.){% endif %};
    {%- endfor %}
    {{ mat }}.makeCompressed();
{% endmacro %}

{% macro lst(num, name) %}
{# `ulimit -s` shows stack limit in kibibytes #}
{# I have 8192 kibibytes (8388608 bytes) stack #}
{# size limit for std::complex<qd_real> (2*32 bytes) array of 128 = 0.1% stack #}
{%- if num > 128 %}
std::vector<std::complex<T>> {{ name }}({{ num }});
{%- else %}
std::array<std::complex<T>, {{ num }}> {{ name }};
{%- endif %}
{% endmacro %}
